%avatar {
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar {
  @extend %avatar;
  width: 60px;
  height: 60px;
}

.avatar--lg {
  @extend %avatar;
  width: 90px;
  height: 90px;
  margin-right: 25px; 
}

.avatar-xl {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px !important;

}