
// Media Object

.media:before,
.media:after {
  content: " ";
  display: table;
}

.media:after {
  clear: both;
}

.mediaImg {
  float: left;
  margin-right: 10px;
}

.mediaBody {
  display: table-cell;
  vertical-align: top;
}

.mediaBody :first-child {
  margin-top: 0;
}




%media {
	overflow: hidden;
	&:first-child {
		float: left;
	}
	&:last-child {
		overflow: hidden;
	}
}
