// This currently only applies to the box. Change it up so it can be reused or delete.
.pad {
	padding: 2em 3em;
	text-align: center;
}

// Look where this is being used and see if you can make it more usable.
.goldy {
	padding: 0 60px;

	h3 {
	color: #242932;
	font-size: 18px;
	}

	p {
		margin-top: 0;
	}

	.media {
		margin-bottom: 14px;
	}

}


// Look where this is being used currently. Receipt?
.unit {
	max-width: 500px;
	border-radius: 6px;
	background: $white;
	border: 1px solid $line-color;
	padding: 40px;
}

.unit-h {
	background: $snow;
	padding: 40px;
	margin: 60px;
	p:last-child {
		margin: 0;
	}
}


// This is all for homepage action items


.iconz {
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: $purple;
}

.icon {
	width: 35px;
	margin-right: 10px;
}

.icon--main {
	width: 40px;
	margin-bottom: 15px;
}


%icon-bg, .icon-bg {
	width: 30px;
	box-sizing: content-box;
	border-radius: 10%;
	background: #7095B3;
	padding: 15px;
	// margin-right: 15px;
}

.icon-bg--r {
	@extend %icon-bg;
	background: #E98283;
}

.icon-bg--g {
	@extend %icon-bg;
	background: #88C9CA;
}

.icon-bg--b {
	@extend %icon-bg;
	background: #9ed0e1;
}




// Font Awesome Icons 

.fa {
	margin-right: 5px;
}








.priority {
	margin-bottom: 10px;
	@include breakpoint($medium) {
		@include span(6);
	}
}

.btn-search {
	cursor: pointer;
	padding: 10px;
	color: $body-color;
}












.field-collection-container {
	margin-bottom: 0;
	border: none;
}



.action__text, .action__button {
	text-align: center;
	@include breakpoint($medium) {
		text-align: initial;
	}
	p {
		margin-bottom: 0;
	}
}

.action__text {
	@include breakpoint($medium) {
		@include span(6);
	}
	h2 {
		font-weight: 800;
	}
}

.action__button {
	@include breakpoint($medium) {
		@include span(4);
		float: right;
	}
}


.score {
    border-radius: 10%;
    width: 35px;
    height: 35px;
    padding: 3px;
    font-size: 20px;
    margin-top: -45px;
    float: right;
    color: #FFF;
    font-weight: 800;
    text-align: center;
}

.score--small {
    border-radius: 10%;
    width: 25px;
    height: 25px;
    padding: 2px;
    font-size: 14px;
    color: #FFF;
    font-weight: 800;
    text-align: center;
    display:inline-block;
    margin-right: 10px;
}

.score--main {
    border-radius: 10%;
    width: 60px;
    height: 60px;
    padding: 8px;
    font-size: 30px;
    color: #FFF;
    font-weight: 800;
    text-align: center;

    // font: 32px Arial, sans-serif;
}


.purple { background: $purple;}

.green { background: $green; }

.red { background: $red; }

.yellow { background: $yellow; }

.null { background: #eee; }

.review-count {
	font-size: 12px;
	font-style: italic;
	float:right;
}


.numberCircle {
    border-radius: 10%;

    width: 35px;
    height: 35px;
    padding: 3px;
    font-size: 20px;
    margin-top: -45px;
    float: right;
    background: $green;
    color: #FFF;
    font-weight: 800;
    text-align: center;

    // font: 32px Arial, sans-serif;
}

.teacher-card {
	@include span(4);
    padding: 1.25em;
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 4px;
	a {
		color: $body-color;
	}
}

.teacher-card--link a {
	color: $body-color !important;
}

.progress-bar {
    background-color: #eee;
    height: 5px;
    width: 100%;
}

.progress-bar span {
    display: block;
    height: 100%;
    transition: width .4s ease-in-out;    
}

.title {
	font-size: 13px;
}


.school-info {
	@include span(4);
	margin-top: 15px;
}


.map {
	width: 100%;
	height: 200px;
}

.hero__title {
	font-weight: 400;
	font-size: 38px;
}

.header-transparent {
	background: transparent;
	position: fixed;
	z-index: 3;
	width: 100%;
}


.input-grouping {
	margin-bottom: 10px;
}


.modal {
    padding: 2.25em;
    background-color: #FFF;
    margin-bottom: 20px;
}

.rating-collection {

}

.review-rating {
	display:block;
	margin-bottom: 5px;
}

.comment {
	font-size: .9em;
	background-color: $white;
	padding: 20px;
	margin-bottom: 20px;
}


.comment__quote {
	@include span(5 of 8);
	margin-bottom: 10px;

}

.comment_rating-collection {
	@include span(3 of 8);
}

.parent-reviews {
	border-bottom: 1px solid $border-color;
	padding-bottom: 10px;
}

.teacher__avatar {
	@include span(1 of 4);
}

.teacher__meta {
	@include span(3 of 4);
}

.heading {
	font-weight: 600;
	margin-bottom: 5px;
}

.teacher__meta-grouping {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.overall {
	background: #dbe6ec;
	font-weight: 600;
	margin-bottom: 10px;
}

.comment__tags {
	margin-top: 15px;
}

.breadcrumb {
	margin-top: 15px;
}

.review-icon {
	font-size: 30px;
}