<% @hide_frame = 1 %>
  <body>
    <header>


      <div class="header-transparent" id="menu_container">
        <div class="container">

        <!-- <img class="avatar" src="http://fullyfeline.com/wp-content/uploads/2015/01/kitten-lying-400x400.jpg"> -->
    <a class="site-logo" href="/"><img src="./images/logo.png"></a>

        <div class="right social">

        </div>
    </header>


    <div class="hero--xlg">
      <div class="hero__container overlay">
        <div class="hero__image" style="background-image: url(./images/classroom.jpg);">
          <div class="hero__text--center">
            <h1 class="hero__title m--b">Reviews of teachers by parents, for parents.</h1>
            <h1 class="hero__title m--b">Coming soon.</h1>


          </div>
        </div>
      </div>
    </div>

    <div class="page-wrap">

        <div class="container">
            
        <div class="box">
        <h4>For Parents</h4>
            Learn about your students’ teachers and leave reviews of them for other parents
        </div>

        <div class="box">
        <h4>For Teachers</h4>
            Receive parent reviews and recognition, grow your own teaching practice, and build your teaching resume
        </div>

        <div class="box">
        <h4>For Schools</h4>
            Increase teacher effectiveness, improve parent engagement, strengthen school community
        </div>




        </div>
    </div>


    <footer class="footie">
        <div class="container">
            <span>© OurTeachers 2015</span>
        </div>
    </footer>
    </body>