<!DOCTYPE html>
<html>
<head>
  <title>OurTeachers</title>
  

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/dist/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,400italic' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>

<%= render 'layouts/header' %>

<body>

<%= yield %>

</body>
</html>
